NEXT_PUBLIC_API_BASE_URL=/api/backend
NEXT_PUBLIC_TENANT_ID=1
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_AUTH_COOKIE_DOMAIN=
NEXT_PUBLIC_GOOGLE_SOCIAL_TYPE=50
